<h1>Create a new resource</h1>

<%= form_with model: @resource, local: true do |form| %>

  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@resource.errors.count, "error") %> prohibited
        this resource from being saved:
      </h2>
      <ul>
        <% @resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :url %><br>
    <%= form.text_area :url %>
  </p>

 
  <p>
    <%= form.submit %>
  </p>
<% end %>